.container-no-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  padding: 40px 0;
}

.container-image {
  width: 200px;
}

.container-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.no-content-message {
  text-align: center;
}
