@import url('./base.css');
@import url('./modal.css');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

#app {
    padding: 2rem;
    font-family: var(--primary-font);
}

.container {
    width: 100%;
    border-radius: 7px;
    box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
    padding: 5px 15px;
}

.heading-large {
    font-size: 1.8rem;
    font-weight: 700;
}

.heading-medium {
    font-size: 1.4rem;
    font-weight: 400;
}

.heading-small {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
}

.divider {
    color: var(--text-color);
    margin-bottom: 1rem;
}

@media (width >= 1200px) {
    #app {
        width: 1140px;
    }
}

@media (1200px > width >= 992px) {
    #app {
        width: 960px;
    }
}

@media (992px > width >= 768px) {
    #app {
        width: 720px;
    }
}

@media (width < 768px) {
    #app {
        width: 100%;
    }
}


