.modal-overlay {
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: #1d212f7f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    z-index: 999;
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.first-button {
    border-right: 1px solid var(--primary-accent-color);
}

.modal-content-wrapper {
    width: 95%;
}

.modal-content-top {
display: flex;
flex-direction: row;
justify-content: space-between;
}